{% extends "base.html" %}

{% block title %}Dodaj kierowcę{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Dodaj nowego kierowcę</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.uber_id.label(class="form-label") }}
          {{ form.uber_id(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.bolt_id.label(class="form-label") }}
          {{ form.bolt_id(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-success") }}
      </form>
    </div>
  </div>
{% endblock %}