{% extends "base.html" %}

{% block title %}Panel Administratora{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Panel Administratora</h1>
  </div>
  <hr>

  <h3>Zarządzaj kierowcami</h3>
  <a href="{{ url_for('add_driver') }}" class="btn btn-primary mb-3">Dodaj nowego kierowcę</a>
  <a href="{{ url_for('upload_csv') }}" class="btn btn-success mb-3">Import zarobków (CSV)</a>
  <a href="{{ url_for('add_expense') }}" class="btn btn-warning mb-3">Dodaj fakturę kosztową</a>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nazwa użytkownika</th>
        <th>Uber ID</th>
        <th>Bolt ID</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in drivers %}
      <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.username }}</td>
        <td>{{ driver.uber_id or 'Brak' }}</td>
        <td>{{ driver.bolt_id or 'Brak' }}</td>
        <td>
          <a href="{{ url_for('driver_earnings', driver_id=driver.id) }}" class="btn btn-sm btn-primary">Zobacz zarobki</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="5" class="text-center">Brak dodanych kierowców.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}